.App {
  margin: 2.7rem 10rem;
}

.head-title {
  text-align: center;
  color: var(--title-color);
}

h2 {
  color: #0B0A0A;
}

/* Modal style */
.loadingModal,
.resultModal {
  background-color: var(--body-color);
  border: solid var(--title-color);
  border-radius: 1.2rem;
  width: fit-content;
  padding: 1.3rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.result {
  color: var(--title-color);
}

/* Button part */
button {
  background-color: var(--body-color);
  padding: .9rem;
  border-radius: .2rem;
  border: solid var(--title-color) .1rem;
  font-weight: bold;
  font-size: 1rem;
  /* color: var(--White); */
}

button:hover {
  background-color: var(--text-color);
  padding: .9rem;
  border-radius: .2rem;
  border: solid var(--body-color) .1rem;
  color: var(--container-color);
  font-weight: bold;
}

/* Form element */
.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form > div {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%; 
  margin: 0 1rem 1rem; 
}

.form > div > label {
  margin-bottom: 0.7rem;
}

.form > div > input,
.form > div > select {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%; 
  border: 1px solid var(--title-color); 
  background-color: var(--container-color-alt);
  border-radius: 4px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
  transition: box-shadow 0.3s ease; 
  box-sizing: border-box; 
  color: var(--text-color);
}

.form > div > input:focus,
.form > div > select:focus {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.error {
  color: red;
}

info-model:first-of-child {
  font-size: 3rem;
  color: #ff0000; 
}

.presentation-text {
  line-height: 1.7;
  text-align: justify;
}

.info-model,
.wait {
  border-left: solid .6rem #0B0A0A;
  padding: 1.5rem 1rem;
  display: flex;
  /* border-radius: 1rem; */
  background-color: var(--container-color-alt);
}

.icon-why,
.icon-wait {
  font-size: 2rem;
  color: var(--title-color);
}

.info-model > strong {
  position: relative;
  top: 6px;
  left: 3px;
}

.wait > strong {
  position: relative;
  top: -1px;
  left: 3px;
}

fieldset.form {
  border: solid var(--title-color);
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.form-button {
  width: fit-content;
  margin-top: 1rem;
}

.links {
  color: var(--text-color);
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .App {
    margin: 1rem;
  }

  .modalReact {
    width: 90%;
  }

  /* Button part */
  button {
    color: var(--title-color);
    padding: .6rem;
    font-size: .8rem;
  }

  button:hover {
    background-color: var(--body-color);
    color: var(--title-color);
    padding: .6rem;
    font-size: .8rem;
  }

  button:hover {
    padding: .6rem;
  }

  /* Form element */
  .form > div {
    flex: 1 1 100%; 
    margin: 0 0.5rem 0.5rem; 
  }

  .form > div > input,
  .form > div > select {
    padding: 0.3rem;
    font-size: .8rem;
  }

  info-model:first-of-child {
    font-size: 2rem;
  }

  .icon-why {
    font-size: 1.5rem;
  }

  .info-model > strong {
    top: 4px;
    left: 2px;
  }

  fieldset.form {
    padding: 0.5rem;
  }

  .form-button {
    margin-top: 0.5rem;
  }
}

.spinner {
  border: 16px solid var(--text-color-light);
  border-radius: 50%;
  border-top: 16px solid var(--title-color);
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: .90rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
