@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --title-color: #0B0A0A;
  --text-color: #403A3A;
  --text-color-light: #707070;
  --container-color: #FAFAFA;
  --container-color-alt: #F0EFEF;
  --body-color: #FCFCFC;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #707070;
  font-size: 1rem;
  background-color: var(--body-color);
}

